:root {
    --branco-primario: #ffffff;
    --cinza-secundario: #C0C0C0;
    --azul-botao: #167BF7;
    --cor-de-fundo: #00030C;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-primario);
}

* {
    margin: 0;
    padding: 0;
}